.nav_bar{
  
  float: middle;
  color: #c73131;
  padding-right: 0.4%;
  white-space: normal;
  
}

.navbar-brand{
  padding: 2%;
}

.navbar-text{
  font-family: cursive;
  padding-left: 45%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size:40px ;
  color:rgb(185, 217, 230);
}
.gr{
  color: rgb(130, 197, 5);
}

.nav-link{
  float: right;
  font-weight: 300;
  color: white;
}

a:hover{
  float: right;
  font-weight: 500;
  color: rgb(27, 175, 64);
}
 a.nav-link:hover{
   transform: 10px;
  color:rgb(24, 211, 139);
} 

body{
  background-image: linear-gradient(to left, #b621fe, #1fd1f9);
}

.card{
  border-radius: 30px;
  padding-top: 20px;
  margin-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card-text{
  font-family: 'Poppins',sans-serif;
}

.cards{
  padding-top: 3%;
  padding-right: 20%;
  padding-left: 20%;
  display: flex;
  float: md-right;
  
}
.card:hover{
  transform: scale(1.1);
}