*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
  /*font-family: 'Josefin Sans', sans-serif;*/
}
header
{
   width:auto;
   height:100vh;
   
   font-family: 'Franklin Gothic A1', 'Arial Narrow', Arial, sans-serif;
   background-image: url('bg1.png');
   background-repeat: no-repeat;
   background-size:cover;
   opacity: 0.97;
}
nav
{
   width:100%; height:15vh;
   font: 'Gothaic A1';
   /*background  :  rgba(0,0,0,0.2 );*/
  position: absolute;
   color:white;
     display:flex;
     justify-content:space-between;
     align-items: center;
      text-transform:uppercase;
    /* text-decoration: underline 0.15em rgb(35, 124, 197); */
   text-underline-offset: 0.5em;
   transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
nav .menu :hover{
   text-decoration: underline 0.15em rgb(255, 255, 255);
   text-underline-offset: 0.5em;
   transition: text-decoration-color 300ms, text-underline-offset 300ms;
   transition: all 0.3s ease-in-out;
  text-underline-offset: 0.4em;
}
li .nav{
  display: inline;
}


nav .menu
{
  text-align: justify;
  width:40%;
  display:flex;
  
  

}

nav .menu a
{
     width:25%;
     text-decoration:none;
     color:white; 
     font-weight:bold; 
     text-align: center;
     justify-content: space-evenly; 
}
.navtext{
  justify-content: space-between;
}
main{
  width:100%; 
  height:85vh;
  font-size:35px;
  letter-spacing: 2PX;
  font-weight: bold;
  display:flex;
  font-style: normal;
  justify-content:center;
  align-items:center;
  text-align: center;
  color:#17CF4B;
}
h3
{
  font-size:30px; font-weight: bold ;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ffffff;
}
h1
{
  
 margin:  30px 0 20px 0;
 font-size:35px;
 letter-spacing: 2PX;
 font-family: 'Poppins', sans-serif;
 font-weight: bold;
 text-shadow: 2px 1px 5px black;
 text-transform: uppercase;
}
p
{
   font-size: 25px;
    word-spacing:2px;
    margin-bottom:25px;
    text-shadow:1px 1px 1px black;
}

nav.menu a:first-child
{
        color:#24c9a8;
}

 .mainLogo {
   margin-top: 20%;
   margin-left: 20%;
  padding-left: 30px;
  display: table;
  width: 100%;
  
}

.green{
  color: greenyellow;
}

.logotext{
  margin-top: 30%;
  padding-top: 20px;
  margin-left: 0%;
  padding-left: 10;
}

.mainLogo {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.logotext::after {
  content: "";
  clear: both;
  display: table;
}

.packages{
  
  padding: 12px;
  background-color: #3312FF;
  border-radius: 100px;
  font-size: 30px;
  color: white;
}

.gotoencrypt{

  padding: 12px;
  background-color: #3312FF;
  border-radius: 100px;
  font-size: 30px;
  color: white;
  
}
.mainLogo{
  padding-top: 5%;
}

.encryptbtn{
  padding: 10%;
}

.packagebtn{
  z-index: inherit;
}

.encryptscreen{
  background-image: url("bg1.png");
}

.gotohome{
  margin-top: 20px;
  margin-left: 20px;
}

.enc{
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.logotext{
  font-family: 'Poppins', sans-serif;
}